html {
  overflow: hidden;
}

body {
  background-color: #17171B;
}

section{
  overflow: hidden;
}

header {
  text-align: center;
}

header .logo_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

header img {
  margin: 0 auto;
}

header nav {
  display: none;
  position: relative;
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  width: 10rem;
  height: 100vh;
  z-index: 100;
}

header nav .box_tag {
  position: absolute;
  top: 4rem;
  left: -3rem;
  width: 3rem;
  height: 3rem;
  background-color: black;
  z-index: 1000;
}

header nav ul {
  width: 10rem;
  height: 100%;
  background-color: black;
  z-index: 100;
}

header nav ul li {
  color: white;
  text-align: center;
}

#section1 {
  width: 100%;
  height: 100vh;
}

#section1 .character {
  width: 30rem;
}

#section1 h2 {
  width: 320px;
  top: 8rem;
  left: calc(((100% - 340px) / 2) + 20px);
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: left;
}

#section1 h2.text_tag {
  width: 20px;
  left: calc(((100% - 340px) / 2));
}

#section1 .new_text {
  position: relative;
  top: 90px;
}

#section2 .about_box1{
  width: 100%;
  margin-bottom: 20px;
}

#section2 .about_box1 h3 {
  font-size: 17px;
  width: 60%;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

#section2 .about_box1 p {
  font-size: 14px;
  text-shadow: 1px 1px 1px black;
}

#section2 .about_box1 p span {
  width: 60px;
}

#section2 .about_box2{
  width: 100%;
}

#section2 .about_box2 h3 {
  font-size: 17px;
  width: 60%;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

#section2 .about_box2 ul li {
  margin-bottom: 5px;
}

#section2 .about_box2 ul li img {
  width: 30px;
}

#section2 .about_box2 ul li p {
  font-size: 14px;
  margin-left: 10px;
  text-shadow: 1px 1px 1px black;
}

#section2 .about_box3{
  display: none;
}

#section2 .character{
  z-index: -1;
}

#section2 .light{
  z-index: -1;
}

#section3 .carousel {
  top: 600px;
}

#section3 .carousel .panel {
  left: calc(50% - 76px);
  width: 152px;
  height: 222px;
}

#section3 .left_card,
#section3 .right_card {
  display: none;
}

#section3 .right_card{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#section4 .character {
  width: 100%;
  min-width: 950px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: -1;
}

#section4 .skill_box {
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

#section4 .skill_box>div {
  width: calc(50% - 5px);
  margin-bottom: 10px;
  margin-left: 5px;
}

#section4 .skill_box>div h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

#section4 .skill_box>div img {
  height: 50px;
}

#section4 .skill_box>div .img_box .front_black {
  height: 50px;
  line-height: 50px;
}



#section5 h1 {
  margin-bottom: 100px;
}

#section5 .sns_box{
  margin-bottom: 50px;
}

#section5 .sns_line{
  height: 60px;
}

#section5 .sns_line img{
  width: 60px;
  height: 60px;
}

#section5 .character{
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
}

#section5 .light{
  width: 50px;
  left: 60%;
}