body {
  background-color: #17171B;
}

header nav {
  width: 100%;
  height: 4rem;
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin-right: 3rem;
}

#section1 h2 {
  top: 200px;
  right: 15px;
  font-size: 1.5rem;
  line-height: 2rem;
}

#section1 h2.text_tag {
  right: 480px;
}

#section1 .new_text {
  font-size: 1.5rem;
  right: 240px;
  top: 50%;
  transform: translateY(-50%);
}

#section3 .left_card {
  top: 50%;
  right: 450px;
  transform: translateY(-50%);
}

#section3 .right_card {
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
}

#section4 .character {
  width: 100%;
  min-width: 1680px;
  height: 100%;
}

#section4 .skill_box>div {
  width: 240px;
  margin: 40px 130px;
}

#section4 .skill_box>div h2 {
  margin-bottom: 20px;
}

#section4 .skill_box>div img {
  height: 70px;
}

#section4 .skill_box>div .img_box .front_black {
  height: 70px;
  line-height: 70px;
}