* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li,
ol {
  list-style-type: none;
}

.wrap {
  max-width: 1440px;
  margin: 0 auto;
}

#section1 {
  width: 100%;
  height: 100vh;
  position: relative;
}

#section1 h1 {
  font-size: 2rem;
  float: left;
  line-height: 4rem;
}

#section1 nav ul {
  line-height: 4rem;
  position: absolute;
  top: 0;
  right: 0;
}

#section1 .character {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
}

#section1 .window {
  position: absolute;
}

#section1 h2 {
  position: absolute;
}