body {
  background-color: red;
}

header{
  text-align: center;
}

header .logo_box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

header img{
  margin: 0 auto;
}

header nav {
  display: none;
  position: relative;
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  width: 10rem;
  height: 100vh;
  z-index: 100;
}

header nav .box_tag{
  position: absolute;
  top: 4rem;
  left: -3rem;
  width: 3rem;
  height: 3rem;
  background-color: black;
  z-index: 1000;
}

header nav ul {
  width: 10rem;
  height: 100%;
  background-color: black;
  z-index: 100;
}

header nav ul li {
  color: white;
  text-align: center;
}

#section1 {
  width: 100%;
  height: 100vh;
}

#section1 .character {
  width: 30rem;
}

#section1 h2 {
  width: 100%;
  top: 8rem;
  left: 17%;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: left;
}

#section1 h2.text_tag{
  left: 13%;
}

#section1 .new_text{
  position: relative;
  top: 40px;
}

#section3 .left_card,
#section3 .right_card{
  display: none;
}